@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

:root {
    --ebonyOP: rgba(10, 7, 8, 0.7);
    --ebony: rgba(10, 7, 8, 1);
    --coolGrayOP: #444444ea;
    --coolGray: #444444;
    --gray: #16171af8;
    --grayOP: #747474a9;
    --ligthGray: #b1b1b1;
    --ligthGrayOP: #b1b1b1b6;
    --textWhite: #dfdfdf;
    --backGroundBlack: #2a2d32f8;
}

body {
    background: var(--gray);
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.container {
    height: 100%;
    width: 100%;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}
section {
    height: 100vh;
    width: 90vw;
    margin: 0 5vw 0 5vw;
    background: var(--backGroundBlack);
    scroll-snap-align: start;
    padding-top: 2vh;
    border-left: 1vh  var(--backGroundBlack) solid;
    border-right: 1vh  var(--backGroundBlack) solid;
    border-bottom: 0.5vh  var(--backGroundBlack) solid;
    box-shadow: inset -2px -2px 10px rgba(255, 255, 255, 0.1), 
    inset 3px 3px 10px rgba(0, 0, 0, 0.5);
    
    
    &:nth-of-type(1) {
        border-radius: 10px 10px 0 0;
        border-top: 1vh  var(--backGroundBlack) solid;
    }
    &:nth-of-type(2) {
        border-top: 0.5vh  var(--backGroundBlack) solid;
        display: flex;
        justify-content: center;
    }
}

/* ---- for navbar ---- */
header {
    display: flex;
    position: relative;
    width: 90%;
    height: 5vh;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    margin: auto;

    border-radius: 10px;
    box-shadow: -2px -2px 10px rgba(255, 255, 255, 0.1), 3px 3px 10px rgba(0, 0, 0, 0.5);
}    

.nav-bar {
    display: flex;
    align-items: center;
    font-family: "Poppins", sans-serif;
}
.item {
    margin: 1em;
    font-size: 1.050em;
    color: var(--textWhite);
}
.item:hover {
    margin: 1em;
    background-image: linear-gradient(90deg, #833ab4, #fd1d1d, #fcc445);
    -webkit-background-clip: text;
    color: transparent;
    border-radius: 10px;
}
.container_logo {
    font-size: 11px;
    margin: 1rem;
}
.logo {
    background-image: linear-gradient(90deg, #833ab4, #fd1d1d, #fcc445);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 2.3em;
    font-family: "Poiret One",cursive;
}
/****************/

/***************************/
.presentation {
    position: relative;
    font-family: "Poiret One", cursive;
    text-align: center;
    font-size: 2.3vw;
    color: var(--textWhite);
    width: 30%;
}
.subtitles {
    font-family: "Poiret One", cursive;
    text-align: end;
    padding-right: 30px;
    font-size: 1.2em;
}

a {
    text-decoration: none;
}
/* ---------------- */
.img-div-Talos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5vh auto;
    width: 900px;
    height: 700px;
     background-image: url(test-img.png);
     background-position: center;
     background-size: 100%;
    opacity: .8; 
    box-shadow: -2px -2px 10px rgba(255, 255, 255, 0.1), 3px 3px 10px rgba(0, 0, 0, 0.5);
}

//  #bluePrintTalos {
//     width: inherit;
//  }

#presentation_container {
    position: absolute;
    margin-top: 9rem;
    text-align: center;
    width: 50%;
}

#presentation_container > h2 {
    font-family: "Poiret One", cursive;
    font-size: 5vw;
    color: var(--textWhite);
}

@media (min-width: 600px) {
    h2 {
        font-size: 60px;
    }
}

#presentation_container > p {
    font-family: "Poiret One", cursive;
    text-align: center;
    font-size: 2.3vw;
    color: var(--textWhite);
}

.element {
    background: var(--backGroundBlack);
    border-radius: 10px;
    box-shadow: inset 5px 5px 8px 8px rgba(0, 0, 0, 0.1), inset -5px -5px 8px 8px rgba(255, 255, 255, 0.1);
}

#left {
    width: 45%;
    height: 20rem;
    margin-top: 5em;
}

#right {
    width: 45%;
    height: 20rem;
    margin-top: 5em;
}

/* scrollBar personalizzata */
::-webkit-scrollbar {
    width: 1.5vw;
}

::-webkit-scrollbar-track {
    background: transparent;
    //   border-radius: 10px;
    //   box-shadow: inset 1px 1px 2px 2px rgba(0, 0, 0, 0.2), inset -1px -1px 2px 2px rgba(255, 255, 255, 0.2);
}

::-webkit-scrollbar-thumb {
    background: var(--coolGray);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--ebonyOP);
}

::-webkit-scrollbar-corner {
    background: transparent;
}
::-webkit-scrollbar-button {
    background: transparent;
}
