@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

:root {
  --ebonyOP: rgba(10, 7, 8, 0.7);
  --ebony: rgba(10, 7, 8, 1);
  --coolGrayOP: #444444ea;
  --coolGray: #444444;
  --gray: #16171af8;
  --grayOP: #747474a9;
  --ligthGray: #b1b1b1;
  --ligthGrayOP: #b1b1b1b6;
  --textWhite: #dfdfdf;
  --backGroundBlack: #2a2d32f8;
}

body {
  background: var(--gray);

  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.backGround {
  height: 100vh;
  width: 90vw;
  scroll-snap-align: start;
}
section{
  display: flex;
  justify-content: center;
  background: var(--backGroundBlack);
  height: 100vh;
  width: 90vw;
  
}


/* ---- for navbar ---- */

header{
  display: flex;
  position: relative;
  width: 85%;
  height: 5vw;
  

  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin-top: 3vh;

  border-radius: 10px;
  
  box-shadow: -2px -2px 10px rgba(255, 255, 255, 0.1),
    3px 3px 10px rgba(0, 0, 0, 0.5);
  
 
}
.nav-bar {
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
  box-shadow: inset -2px -2px 10px rgba(255, 255, 255, 0.1),
  inset 3px 3px 10px rgba(0, 0, 0, 0.5);
  

}


.item {
  margin: 1rem;
  color: var(--textWhite);
}

.item:hover {
  margin: 1rem;
  color: var(--ligthGray);
  border-radius: 10px;
}

.container_logo {
  font-family: "Poiret One", cursive;
  font-size: 11px;
  margin: 1rem;
  padding: 0.4em;
  border-radius: 10px;
  color: var(--textWhite);
  box-shadow: inset -2px -2px 10px rgba(255, 255, 255, 0.1),
   inset 3px 3px 10px rgba(0, 0, 0, 0.5);
}
/****************/

/***************************/
.presentation {
  position: relative;
  font-family: "Poiret One", cursive;
  text-align: center;
  font-size: 2.3vw;
  color: var(--textWhite);
  width: 30%;
}
.subtitles {
  font-family: "Poiret One", cursive;
  text-align: end;
  padding-right: 30px;
  font-size: 1.2em;
}





a {text-decoration: none;}
/* ---------------- */
.img-div-Talos{
  margin: 0;
  position: absolute;
  margin-top: 8em;
  width: 80%;
  opacity: 0.4;
  max-width: 80vw;
  box-shadow: -2px -2px 10px rgba(255, 255, 255, 0.1),
    3px 3px 10px rgba(0, 0, 0, 0.5);
}
#bluePrintTalos {
  width: 100%;
  height: 100%;
}


#presentation_container {
  position: absolute;
  margin-top: 9rem;
  text-align: center;
  width: 50%;
}
#presentation_container > h2 {
  font-family: "Poiret One", cursive;
  font-size: 5vw;
  color: var(--textWhite);
}
@media (min-width: 600px) {
  h2 {
    font-size: 60px;
  }
}
#presentation_container > p {
  font-family: "Poiret One", cursive;
  text-align: center;
  font-size: 2.3vw;
  color: var(--textWhite);
}
.element {
  position: relative;
  background: var(--backGroundBlack);
  width: 38%;
  height: 200px;

  margin-top: 0vh;

  border-radius: 10px;

  box-shadow: inset 5px 5px 8px 8px rgba(0, 0, 0, 0.1),
    inset -5px -5px 8px 8px rgba(255, 255, 255, 0.1);
}

#left {
  position: absolute;
  left: 6em;
}

#right {
  position: absolute;
  right: 6em;
}

/* scrollBar personalizzata */
::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: var(--backGroundBlack);
  border-radius: 10px;

  box-shadow: inset 1px 1px 2px 2px rgba(0, 0, 0, 0.2),
    inset -1px -1px 2px 2px rgba(255, 255, 255, 0.2);
}

::-webkit-scrollbar-thumb {
  background: var(--coolGray);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--ebonyOP);
  border-radius: 20px;
}
